{
  "env": {
    "development": {
      "presets": ["next/babel", "flow"]
    },
    "production": {
      "presets": ["next/babel", "flow"]
    },
    "test": {
      "presets": [
        [
          "env",
            {
              "modules": "commonjs"
            }
        ],
        "next/babel"
      ]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["."],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
      }
    ],
    ["wrap-in-js", { "extensions": ["css$", "scss$"] } ],
    ["transform-define", "./config.js"]
  ],
  "ignore": []
}